@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body{
    height: auto;
    width: 100%;
    background-image: var(--body-color);
    transition: 0.3s;
}
body.drak{
    --body-color:linear-gradient(to right top, #000000, #070707, #0d0d0d, #121212, #161616);
    --nav-color:rgba(0, 0, 0, 0.151);
    --text-color:rgb(247, 247, 247);
    --search-bar:rgb(255, 255, 255);
    --text-search-color:rgb(255, 255, 255);
    --icon-color:rgb(0, 0, 0);
    --btn-color:rgb(255, 255, 255);
    --btn-background:rgb(14, 14, 14);
    --color-skills:white;
    --title-color:white;
    --btn-search:rgb(16, 16, 16);
   
    
}
:root{
    --body-color: linear-gradient(to bottom, #3927ff, #ffffffe0, #ffffffd7, #ffffffc8, #ffffff71);
    --nav-color:#08117708;
    --text-color:rgb(0, 0, 0);
    --search-bar:black;
    --links-color:white;
    --text-search-color:black;
    --color-input:rgb(17, 17, 17);
    --color-mode-input:rgb(196, 194, 194);
    --button-color:rgb(22, 22, 22);
    --icon-color:rgb(255, 255, 255);
    --btn-color:rgb(255, 253, 253);
    --btn-background:rgb(14, 14, 14);
    --color-skills:white;
    --title-color:rgb(0, 0, 0);
    --btn-search:rgb(46, 46, 218);
}


nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    height: 60px;
    width: 100%;
    padding: 20px;
}


.links ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
}
.navbar .logo{
    color: var(--links-color);
}
.links ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--links-color);
    
   
}

.navbar .moode-and-search {
    display: flex;
    gap: 10px;
    align-items: center;
}

.moode-and-search .moode,.moode-and-search .search {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    margin: 0px 5px;

}
.moode i,.search i{
    position: absolute;
    color: var(--links-color);
    transition: all 0.3s ease;
}

.moode i.sun{
    opacity: 0;
    pointer-events: none;
}

.moode.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.moode.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.search i.close{
    opacity: 0;
    pointer-events: none;
}

.search.active i.close{
    opacity: 1;
    pointer-events: auto;
}

.search.active i.search{
    opacity: 0;
    pointer-events: none;
}

.inpuSh{

        position: absolute;
        left: 1250px;
        top: -50%;
        z-index: 1;
        transition: 0.4s;

}
.inpuSh.display{

    position: absolute;
    left: 1250px;
    top: 80px;

}

.inpuSh input{
    padding: 5px;
    outline: 0;
    border: 1px solid rgba(54, 54, 54, 0.112);
    background-color: var(--btn-color);
    border-radius: 5px;
}
.inpuSh button{
    padding: 5px;
    outline: 0;
    background-color: var(--btn-search);
    border-radius: 5px;
    color: var(--text-color);
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 500;
}

.bar{
    display: none;
}
.barclose{
    display: none; 
}
.barlist{
    display: none;
}



.firstpage{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 20px;
    height: 100vh;
    z-index: -1;
}

.firstpage .t1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px; 
    flex-direction: column;
    align-items: center;
}

.social{
    display: flex;
    justify-content: start;
    gap: 15px;

}
.social .link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--text-search-color);
    font-weight: 700;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: 0.4s;
}
.link:hover{
    background-color: var(--text-color);
    color: var(--icon-color);
}
.social .link i{
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstpage .t1 h2, h1, h3, p{
    color: var(--text-color);
}
.contact{
    display: flex;
    gap: 5px;
}
.btn{
   width: 150px;
   height: 40px;
   border-radius: 5px;
   outline: 0;
   border: 1px solid transparent;
   box-shadow: #161616;
   font-weight: 700;
   margin-top: 30px;
   transition: 0.4s;
   cursor: pointer;
   
}
.btn:hover{
    background-color: var(--btn-background);
    color: var(--btn-color);
}


.firstpage .img img{
    height: 200px;
    width: 200px;
    border-radius:50%;
    border: 1px solid transparent;
    
}
.aboutMe{
    padding: 30px 70px;
    width: 800px;
  
}
.aboutMe h1 p{
    bottom: 10px;
}
.aboutMe p{
    margin-top: 10px;  
}
.aboutMe h2{
    color: var(--text-color);
    font-size: 30px;
}
.back2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    height: 100vh;
}

.imgabout img{
    height: 400px;
    width: 400px;

}
.back3{
    height: 100vh;
}
.back3 .html .nvhtml{
    height: 15px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(68, 77, 255);
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}
.back3 .html .nvcss{
    width: 300px;
    border-radius: 20px;
    background-color: rgb(68, 77, 255);
    font-size: 10px;
    text-align: center;
    margin-top: 8px;

}
.back3 .html .nvjavascript{
    width: 280px;
    border-radius: 20px;
    background-color: rgb(68, 77, 255);
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}   
.back3 .html .nvjava{
    width: 270px;
    border-radius: 20px;
    background-color: rgb(68, 77, 255);
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}
.back3 .html .nvphp{
    width: 300px;
    border-radius: 20px;
    background-color: rgb(68, 77, 255);
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}
.back3 .html .nvsql{
    width: 300px;
    border-radius: 20px;
    background-color: rgb(68, 77, 255);
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}
.back3 .html .nvc{
    width: 260px;
    border-radius: 20px;
    background-color: rgb(68, 77, 255);
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}
.back3 .html .nvpy{
    width: 200px;
    border-radius: 20px;
    background-color: rgb(68, 77, 255);
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}

.back3 .html h2{
    color: var(--btn-color);
    font-size: 15px;
}
.back3 .title{
    color: var(--title-color);
    text-align: center;
    font-size: 35px;
}
.myskills .html{
    margin-bottom: 20px;
}

.myskills{
    background-color: #161616;
    padding: 70px;
    height: auto;
    width: auto;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
    flex-wrap: wrap;
    border-radius: 0% 25% 0% 25%;
}



.myskills .imgsSkills img{
    height: 250px;
    width: 250px;

}
@media screen and (max-width: 600px) {
    .navbar .links{
        display: none;
    }
   
    .firstpage .img img{
        height: 250px;
        width: 250px;
    }
    .barDop i.x{
        opacity: 0;
        pointer-events: auto;
    }
    .barDop i{
        color: var(--text-color);
        font-size: 30px;
        cursor: pointer;
        transition: 0.3s;
    }
    .barDop.Act i.x{
        opacity: 1;
        pointer-events: auto;
    }
    .barDop.Act i.menu{
        opacity: 0;
        pointer-events: auto;
    }

    .navbar .bar{
        display: flex;
        align-items: center;
    }
    .navbar .moode-and-search{
        display: none;
    }
    .back1 .barlist{
        display: none;
        background-color: var(--nav-color);
        height: 100vh;
        width: 100%;
        
    }
    .back1 .barlist.act2{
        transition: 0.4s;
        background-color: var(--nav-color);
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }
    


    .barlist ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex; 
        gap: 35px; 
        flex-direction: column;
       
       
    }
    .barlist ul a{
        font-size: 40px;
        color: var(--text-color);
        text-decoration: none;
    }
    .back2{
        height: 150vh;
    }
    .back3{
        height: 200vh;
    }
    .myskills{
        gap: 100px;
    }
}